@media (min-width: 1200px) {
  .responsive-font {
    font-size: 5rem;
  }
}
@media (max-width: 1199.98px) {
  .responsive-font {
    font-size: 4rem;
  }
  .logo .overlapping {
    width: 20vw;
    height: 20vw;
    padding: auto;
    margin: auto;
  }
  .formwrapper {
    flex: column;
  }
}
@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: inherit;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}
/*RESETS*/
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

/* 4 */
.menu {
  text-align: center;
  justify-content: end;
}

.start-btn, .secondary-btn, .main-btn, p, h3, h2, h1, li a {
  text-align: center;
}

h3, h2 {
  font-style: normal;
}

.start-btn, .secondary-btn, .main-btn {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 1rem;
  margin: 0.5rem;
  font-family: "Rift";
  font-size: 1.25rem;
  font-weight: bold;
  width: 6rem;
  height: 2.5rem;
}

.formsbackground, .maincontainer, li a {
  padding: 1.25rem;
  margin: 1.25rem;
}

nav {
  width: 100%;
}

.logonavid {
  max-width: 3.5rem;
  max-height: 3.5rem;
  background: transparent;
  align-self: flex-end;
}

.lg-animation:hover {
  transform: rotate(-180deg);
}

.menu {
  font-family: "Rift";
  font-weight: lighter;
  font-size: larger;
  color: #3B3086;
  z-index: 100;
  background-color: #F2F2F2;
  top: 0;
  position: fixed;
  padding: 1.25rem;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 1rem;
}
li a {
  font-family: "Rift";
  font-weight: bold;
  font-size: larger;
  color: #161616;
}

ul {
  list-style: none;
  font-size: 0rem;
  margin: 0rem;
  padding: 0rem;
}
ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
}
ul li:hover ul {
  display: block;
}

h1 {
  font-family: "Archistico";
  font-size: 7rem;
  font-weight: bolder;
  color: #4e52a0;
}

h2 {
  font-family: "acier-bat-gris";
  font-weight: 400;
  font-size: 2.5rem;
  color: #E66BBA;
}
h2 img {
  padding: 25px 50px;
  background: transparent;
  opacity: 0.87;
}

h3 {
  font: "acier-bat-gris";
  font-weight: 400;
  font-size: 1.25rem;
  color: #3B3086;
}

p {
  font-family: "Rift";
  font-size: 1.5rem;
  font-weight: lighter;
  color: #161616;
}

header nav ul li a:hover {
  color: #F25C78;
  text-decoration: underline;
}
header nav ul li a img:hover {
  transform: rotate(-180deg);
}

.socialneticons {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100;
}

body {
  overflow-x: hidden;
  position: relative;
  font-size: 1rem;
  font-family: "Rift";
}

.scroll a {
  color: #673ab7;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  align-content: center;
}

section {
  margin: 5%;
}

div p .bluebookspapertexture {
  width: -moz-fit-content;
  width: fit-content;
  overflow-wrap: normal;
}

.alignmentcenter {
  text-align: center;
}

.alignhalf {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.alignhalf:first-child {
  align-self: center;
}

main {
  margin-top: 500rem;
}
main a i {
  color: #7291F9;
  font-size: 7rem;
  text-align: left;
  flex-direction: column;
}

.containervideo {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32.5rem;
  height: 32.5rem;
}

.maincontainer {
  margin-top: 20rem;
}

.footer {
  background-color: #F2F2F2;
  text-align: left;
  padding: 2%;
}

footer a i {
  color: #7291F9;
  font-size: 3rem;
  text-align: left;
  justify-content: flex-end;
  padding: 1%;
}
footer a i:hover {
  color: #F25C78;
}

.footer-section {
  background: #7291F9;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #ff5e14;
}

.single-cta i {
  color: #F25C78;
  font-size: 2rem;
  margin-top: 0.5rem x;
}

.cta-text {
  padding-left: 1rem;
  display: inline-block;
}
.cta-text h4 {
  color: #F2F2F2;
  font-size: 2nth 0rem, 0.5rem, 1rem, 1.25rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem, 6rem, 7rem, 4;
  font-weight: 600;
  margin-bottom: 0.125rem;
}
.cta-text span {
  color: #878787;
  font-size: 1rem;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-social-icon span {
  color: #F2F2F2;
  display: block;
  font-size: 0.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.footer-social-icon a {
  color: #F2F2F2;
  font-size: 1rem;
  margin-right: 0rem;
}
.footer-social-icon i {
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: #F2F2F2;
  font-size: 2nth 0rem, 0.5rem, 1rem, 1.25rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem, 6rem, 7rem, 4;
  font-weight: 600;
  margin-bottom: 2.5rem;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 0.125rem;
  width: 3rem;
  background: #F25C78;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.75rem;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.footer-widget ul li a:hover {
  color: #ff5e14;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #161616;
  border: 1px solid #161616;
  color: #F2F2F2;
}
.subscribe-form button {
  right: 0;
  background: #F25C78;
  padding: 13px 20px;
  border: 1px solid #878787;
  top: 0;
}
.subscribe-form button i {
  color: #F2F2F2;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #161616;
  padding: 10px;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
aside a i:hover {
  color: #F25C78;
}

.formsbackground {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.25rem;
  background: #F2F2F2;
}

.formstyle {
  border: 5px;
  border-color: #4e52a0;
  border-style: solid;
  padding: 0.5rem;
  align-content: center;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1.25rem;
  height: 100%;
}

.login {
  width: 50%;
  background-color: #F25C78;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  padding-top: 100px;
  margin-top: 0.5rem;
}
.login h1 {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
}
.login a {
  text-decoration: none;
  color: #F2F2F2;
  transition: 0.3s all ease-in-out;
}
.login a:hover {
  color: #F25C78;
  font-weight: bold;
}
.login button {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #878787;
  color: #F2F2F2;
  font-size: 0.5rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.login button:hover {
  width: 97%;
  font-size: 22px;
  border-radius: 5px;
}
.login hr {
  width: 30%;
  display: inline-block;
}
.login p {
  display: inline-block;
  margin: 20px 10px 30px;
}
.login ul {
  list-style: none;
  margin-bottom: 2.5rem;
}
.login ul li {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}
.login ul li:hover {
  opacity: 0.6;
}
.login ul li:last-child {
  margin-right: 0;
}

.register {
  width: 50%;
  background-image: linear-gradient(135deg, #F25C78 5%, #7291F9 95%);
  height: 100%;
  color: #F2F2F2;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding: 100px 0;
}
.register h2 {
  margin: 30px 0;
  font-size: 50px;
  letter-spacing: 3px;
}
.register p {
  font-size: 18px;
  margin-bottom: 30px;
}
.register button {
  background-color: transparent;
  border: 1px solid #F2F2F2;
  border-radius: 0.5rem;
  padding: 10px 0.5rem;
  color: #F2F2F2;
  font-size: 0.5rem;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
.register button:hover {
  color: #F25C78;
  background-color: #F2F2F2;
  cursor: pointer;
}

input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #F2F2F2;
}

input[type=password] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #F2F2F2;
}

input[type=checkbox] {
  margin-right: 5px;
}

.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 0.2rem solid #F2F2F2;
  padding: 1rem;
  border-radius: 25px;
  font-size: 0.5rem;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.card-btn:hover {
  color: #F2F2F2;
  background: #F25C78;
}

.main-btn {
  background-color: #7291F9;
  color: #F25C78;
  font-weight: bold;
  border: none;
}

.secondary-btn {
  background-color: #F2F2F2;
  color: #F25C78;
  border: #F25C78;
  border-style: solid;
  letter-spacing: 0rem;
  line-height: 30px;
}

.start-btn {
  background-color: #7291F9;
  color: #F25C78;
  border: none;
  letter-spacing: 0rem;
  line-height: 30px;
}

.buttonssidebyside {
  display: flex;
  justify-content: center;
  min-height: 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 19rem;
  min-height: 15.5rem;
  background: #F2F2F2;
  padding: 2rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #F2F2F2;
  margin: 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.card:nth-child(2) {
  background: #E66BBA;
}
.card:nth-child(2) .card-btn:hover {
  color: #673ab7;
  background: #F2F2F2;
}
.card:last-child {
  background: #E66BBA;
}
.card:last-child .card-btn:hover {
  color: #E66BBA;
  background: #F2F2F2;
}

.card-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
}

.card-content {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  line-height: 1.5;
}

.cardimage {
  object-fit: cover;
}

/* PARALLAX */
.parallax {
  background-image: url("../assets/texturas/whitepapertexture.png");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallaxblog {
  background-image: url("../assets/texturas/mathpapertexture.png");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

/*torn-paper*/
.bluetornpapertexture {
  border-radius: 6rem;
  background-image: url(../assets/texturas/bluetornpapertexture.png);
  background-repeat: no-repeat;
}

.pinktornpapertexture {
  border-radius: 6rem;
  background-image: url(../assets/texturas/pinktornpapertexture.png);
  background-repeat: no-repeat;
}

.bluebookspapertexture {
  border-radius: 0;
  background-image: url(../assets/texturas/bluebookspapertexture.jpg);
  padding: 8%;
}

.containervideo {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  height: 520px;
}

/*# sourceMappingURL=style.css.map */
