@media (min-width: 1200px) {
  .responsive-font {
    font-size: 80px;
  }
}
@media (max-width: 1199.98px) {
  .responsive-font {
    font-size: 30px;
  }
  .logo .overlapping {
    width: 20vw;
    height: 20vw;
    padding: auto;
    margin: auto;
  }
  .formwrapper {
    flex: column;
  }
}
@media screen and (max-width: 768px) {
  .parallax {
    background-attachment: inherit;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}
/*RESETS*/
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.menu {
  text-align: center;
  justify-content: end;
}

p, h3, h2, h1, li a {
  text-align: center;
}

h3, h2 {
  font-style: normal;
}

/* 4 */
nav {
  width: 100%;
}

.logonavid {
  max-width: 3.5rem;
  max-height: 3.5rem;
  background: transparent;
  align-self: flex-end;
}

.menu {
  font-family: "Rift";
  font-weight: lighter;
  font-size: larger;
  color: #3B3086;
  z-index: 100;
  background-color: #F2F2F2;
  top: 0;
  position: fixed;
  padding: 1.25rem;
}

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 0.5rem;
}
li a {
  font-family: "Rift";
  font-weight: bold;
  font-size: larger;
  color: #161616;
  padding: 1.25rem;
  margin: 1.25rem;
}

ul {
  list-style: none;
  font-size: 0rem;
  margin: 0rem;
  padding: 0rem;
}
ul ul {
  position: absolute;
  display: none;
}
ul ul li {
  display: block;
}
ul li:hover ul {
  display: block;
}

h1 {
  font-family: "Archistico";
  font-size: 7rem;
  font-weight: bolder;
  color: #4e52a0;
}

h2 {
  font-family: "acier-bat-gris";
  font-weight: 400;
  font-size: 2.5rem;
  color: #E66BBA;
}
h2 img {
  padding: 25px 50px;
  background: transparent;
  opacity: 0.87;
}

h3 {
  font: "acier-bat-gris";
  font-weight: 400;
  font-size: 2rem;
  color: #3B3086;
}

p {
  font-family: "Rift";
  font-size: 1.5rem;
  font-weight: lighter;
  color: #161616;
}

main {
  margin-top: 16rem;
}
main a i {
  color: #7291F9;
  font-size: 0rem, 0.5rem, 1rem, 1.25rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem, 6rem, 7rem, 8;
  text-align: left;
  flex-direction: column;
}

.card-btn {
  all: unset;
  display: block;
  margin-left: auto;
  border: 0.2rem solid #F2F2F2;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover {
  color: #673ab7;
  background: #F2F2F2;
}

.card {
  max-width: 19rem;
  min-height: 15.5rem;
  background: #F2F2F2;
  padding: 2rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #F2F2F2;
  margin: 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.card:nth-child(2) {
  background: #E66BBA;
}
.card:nth-child(2) .card-btn:hover {
  color: #673ab7;
  background: #F2F2F2;
}
.card:last-child {
  background: #E66BBA;
}
.card:last-child .card-btn:hover {
  color: #E66BBA;
  background: #F2F2F2;
}

.card-title {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.card-content {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.cardimage {
  object-fit: cover;
}

/* PARALLAX */
.parallax {
  background-image: url("../assets/texturas/whitepapertexture.png");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.parallaxblog {
  background-image: url("../assets/texturas/mathpapertexture.png");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

/*torn-paper*/
.bluetornpapertexture {
  border-radius: 6rem;
  background-image: url(../assets/texturas/bluetornpapertexture.png);
  background-repeat: no-repeat;
}

.pinktornpapertexture {
  border-radius: 6rem;
  background-image: url(../assets/texturas/pinktornpapertexture.png);
  background-repeat: no-repeat;
}

.bluebookspapertexture {
  border-radius: 0;
  background-image: url(../assets/texturas/bluebookspapertexture.jpg);
  padding: 8%;
}

/*# sourceMappingURL=style.css.map */
