/*torn-paper*/
.bluetornpapertexture {
	border-radius: map-get($textures, radius);
	background-image: url(../assets/texturas/bluetornpapertexture.png);
	background-repeat: map-get($textures , no-repeat)
}
.pinktornpapertexture {
	border-radius: map-get($textures, radius);
	background-image: url(../assets/texturas/pinktornpapertexture.png);
	background-repeat: map-get($textures , no-repeat)
}
.bluebookspapertexture {
	border-radius: 0;
	background-image: url(../assets/texturas/bluebookspapertexture.jpg);
	padding: 8%;
}

.containervideo {
	display: flex;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 520px;
	height: 520px;
}