/* variable logo sizes */
$logo-size-xs: 70px;
$logo-size-sm: 100px;
$logo-size-md: 110px;
$logo-size-lg: 140px;

$icons-size-xs: 10px;
$icons-size-sm: 20px;
$icons-size-md: 30px;
$icons-size-lg: 40px;