aside {
	a {
		i {
			&:hover {
				color: nth($color , 3);
			}
		}
	}
	.socialneticons a {
		width: 100px;
		height: auto;
		position: fixed;
		top: 50vh;
		size: 500px;
		display: block;
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 40px;
  }
}