footer {
	a {
		i {
			color: nth($color , 7);
			font-size: nth($sizes , 8);
			text-align: left;
			justify-content: flex-end;
			padding: 1%;
			&:hover {
				color: nth($color , 3);
			}
		}
	}
}

.footer-content {
	background: nth($color , 4);
	position: relative;
}

.single-cta {
	i {
		color: nth($color , 3);
		font-size: nth($sizes , 6);
		margin-top: nth($sizes , 2);
	}
}

.cta-text {
	padding-left: nth($sizes , 3);
	display: inline-block;
	h4 {
		color: nth($color , 7);
		font-size: 2nth($sizes , 6);
		margin-bottom: 0.125rem;
	}
	span {
		color: nth($color , 7);
		font-size: nth($sizes , 4);
	}
}

.footer-content {
	position: relative;
	z-index: 100;
}

.subscribe-form {
	position: relative;
	overflow: hidden;
	input {
		width: 100%;
		padding: 14px 28px;
		background: nth($color , 5);
		border: 1px solid nth($color , 5);
		color: nth($color , 7);
	}
	button {
		right: 0;
		background:nth($color , 3);
		padding: 13px 20px;
		border: 1px solid nth($color , 8);
		top: 0;
		i {
			color: nth($color , 7);
			font-size: 22px;
			transform: rotate(-6deg);
		}
	}
}

.copyright-area {
	background: nth($color , 5);
	padding: 10px;
}

.copyright-text {
	p {
		margin: 0;
		font-size: 14px;
		color: nth($color , 8);
		a {
		color: nth($color , 9);
		}
	}
}