a {
	text-decoration: map-get($decolinks , none);
}

.scroll {
	a {
		color: nth($color , 2);
		font-size: nth($sizes , 8);
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: map-get($decolinks , none);
	}
}

img {
	align-content: center;
}
.maincontainer {
	@extend %padding-margin-4;
	@extend %disposition-text;
}

section {
	margin: 5%;
}
div {
	p {
		.bluebookspapertexture {
			width: -moz-fit-content;
			width: fit-content;
			overflow-wrap: normal;
		}
	}
}

/*
.alignmentcenter {
	text-align: center;
}
.alignhalf {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&:first-child {
		align-self: center;
	}
}
*/