header {
	nav {
		ul {
			li {
				a {
					&:hover {
						color: nth($color , 3);
						text-decoration: underline;
					}
					img {
						&:hover {
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}
