nav {
	width: 100%;
}
/*
.logonavid {
	background: transparent;
	align-self: flex-end;
}
*/

.lg-animation {
	&:hover {
		transform: rotate(-180deg);
	}
}

.menu {
	font-family: nth($font-family , 4);
	font-weight: lighter;
	font-size: larger;
	color: nth($color , 6);
	z-index: 100;
	background-color: nth($color , 7);
	top: 0;
	position: fixed;
	padding: nth($sizes , 4);
	@extend %disposition-nav;
}
li {
	a {
		text-decoration:  map-get($decolinks , no-deco);
		font-family: nth($font-family , 4);
		font-weight: bold;
		font-size: larger;
		@extend %disposition-text;
		color: nth($color , 5);
		@extend %padding-margin-4;
	}
	display: inline-block;
	width: 25%;
	position: relative;
	font-size: nth($sizes , 3);
}
ul {
	text-decoration:  map-get($decolinks , no-deco);
	list-style: map-get($decolinks , no-deco);
	font-size: nth($sizes , 1);
	margin:nth($sizes , 1);
	padding: nth($sizes , 1);
	ul {
		position: absolute;
		display: none;
		li {
			display: block;
		}
	}
	li {
		&:hover {
			ul {
				display: block;
			}
		}
	}
}