.card-btn {
	all: unset;
	display: block;
	margin-left: auto;
	border: 0.2rem solid nth($color , 7);
	padding: nth($sizes , 3);
	border-radius: 25px;
	font-size: nth($sizes , 2);
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	&:hover {
		color: nth($color , 7);
		background: nth($color , 3);
	}
}

.main-btn {
	background-color: nth($color , 4);
	color:  nth($color , 3);
	font-weight: bold;
	border: none;
	@extend %disposition-btn;
	@extend %disposition-text;
	&:hover {
		color: nth($color , 7);
		background: nth($color , 3);
	}
}
.secondary-btn {
	background-color: nth($color , 7);
	color: nth($color , 3);
	border: nth($color , 3);
	border-style: solid;
	letter-spacing: 0rem;
	line-height: 30px;
	@extend %disposition-btn;
	@extend %disposition-text;
	&:hover {
		color: nth($color , 7);
		background: nth($color , 3);
	}
}
.start-btn {
	background-color:  nth($color , 4);
	color: nth($color , 3);
	border: none;
	letter-spacing: 0rem;
	line-height: 30px;
	@extend %disposition-btn;
	@extend %disposition-text;
	&:hover {
		color: nth($color , 7);
		background: nth($color , 3);
	}
}

.buttonssidebyside {
	display: flex;
	justify-content: center;
	min-height: 0px;
	&:hover {
		color: nth($color , 7);
		background: nth($color , 3);
	}
}