.card-btn {
	all: unset;
	display: block;
	margin-left: auto;
	border: 0.2rem solid nth($color , 7);
	padding: nth($sizes , 3) nth($sizes , 5);
	border-radius: 25px;
	font-size: nth($sizes , 3);
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
	&:hover {
		color: nth($color , 10);
		background: nth($color , 7)
	}
}