%disposition-nav{
    text-align: center;
    justify-content: end;
};

%disposition-text {
    text-align: center;
};

%disposition-normaltext {
    font-style: normal;
};

%disposition-btn {
    padding: nth($sizes , 2);
    text-decoration: none;
    border-radius: nth($sizes , 3);
    margin: nth($sizes , 2);
    font-family: nth($font-family , 4);
    font-size: nth($sizes , 4);
    font-weight: bold;
    width: nth($sizes , 13);
	height: nth($sizes , 7);
};

%padding-margin-4{
    padding: nth($sizes , 4);
	margin: nth($sizes , 4);
}


