$spacing: (
    padding1: 0.5rem 1rem, //10px*15px aprox
    padding2: 1rem 1rem, //16px
    padding3: 1rem 1.5rem, //16* 24px
    padding4: 1.25rem, //20px
    padding5: 1.5rem 3rem,//25px 50px=
    padding6: 2rem//30px
);


